.header {
    padding: 5px;
}

.header-links {
    padding: 5px;
    text-align: center;
}

.header-photo {
    text-align: center;
    /* padding-top: 20px; */
    padding: 30px 10px 15px 10px;
}

.header-photo img {
    margin: auto;
    width: 50%;
    border-radius: 100%;
}

.header h3 {
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
}

.header a {
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    /* text-decoration: none; */
    color: inherit;
}

.header h3 > img {
    width: 1em;
    border-radius: 100%;
}

.header-links p > span {
    display: inline-block;
    padding: 0 10px;
}

.header-title {
    text-decoration: none;
}
