.right-content h9,
h10 {
    font-weight: 600;
}

.research-subsection {
    padding-bottom: 10px;
}

.research-subsection-header {
    text-decoration: underline;
}

.right-content p {
    font-size: 14px;
}

.right-content ul {
    padding-left: 30px;
    font-size: 14px;
}

.right-content a {
    text-decoration: none;
}

.right-content {
    margin-bottom: 1.8em;
}

.right-content h5 {
    font-style: italic;
}