.about-photo {
    margin: 2em auto;
}

.about-photo img {
    width: 15em;
    border-radius: 100%;
}

.about-text {
    text-align: justify;
    margin: 0 auto;
    /* width: 80%; */
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
}

.about-social {
    text-align: center;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 2em;
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
}

@media (max-width: 576px) {
    .about-social {
        text-align: left;
    }
}

.about-social span {
    display: inline-block;
    text-align: justify;
    padding-left: 2em;
}

.about-social a {
    text-decoration: none;
    transition: 0.5s;
    color: inherit;
}

.about-social i {
    color: inherit;
    text-align: left;
    padding-right: 1em;
}

.about-social h5 {
    font-weight: 300;
}

.about-contact {
    padding-top: 1em;
}
